*.d
*.diff
*.o
*.orig
*.patch
*.rej
*.so
*~
.DS_Store
.eunit/
.rebar/
compile_commands.json
deb-build
ebin/
packaging/centos/BUILD/
packaging/centos/RPMS/
packaging/centos/SOURCES/
packaging/centos/SPECS/
packaging/centos/tmp/
_build/*

